*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo-main {
    float: none;
    content: "\2708";
    font-size: 54px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-family:'Fredoka One', cursive;
  }
  .l-image-main:link, .l-image-main:visited {
      background-color: transparent;
      color: #E20338;
  }
  .nav-bar-main{
    background-image: url("/Articles/background-article.jpg");
      position: relative;
      width: 100%;
      background-color: #2D1457;
      overflow: auto;
  }
  .nav-bar-main, .navbar-href{
      text-decoration: none;
      font-size: 21px;
      color: #E20338;
  }
  .navbar-href-f a{
    font-family: 'Fredoka One', cursive;
    float: none;
    text-decoration: none;
    color: #ffdfe6;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

  }
  .navbar-href-p a {
    font-family: 'Fredoka One', cursive;
    float: none;
    text-decoration: none;
    color: #ffdfe6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .navbar-href-a a{
    font-family: 'Fredoka One', cursive;
    float: none;
    text-decoration: none;
    color: #ffdfe6;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .navbar-href-f a:hover{
      color: #E20338;
  }
  .navbar-href-p a:hover{
    color: #E20338;
  }
  .navbar-href-a a:hover{
    color: #E20338;
  }
  .navbar-login a{
    font-family: 'Jost', sans-serif;
    border: 1.2px solid #E20338;
    text-transform: uppercase;
    letter-spacing: 0em;
    border-radius: .3em;
    font-size: 20px;
    display: block;
    padding: .3em 1em;
    float: none;
    text-decoration: none;
    color: #E20338;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  }
  .navbar-register a{
    font-family: 'Jost', sans-serif;
    border: 2px solid #E20338;
    text-transform: uppercase;
    letter-spacing: 0em;
    border-radius: .3em;
    background-color: #E20338;
    padding: .3em 1em;
    font-size: 19.5px;
    float: none;
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 88.5%;
    transform: translate(-50%, -50%);;
    transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  }
  .navbar-login a:hover{
        color: whitesmoke;
  }
  .navbar-login a:before{
    content: "";
  position: absolute;
  background: #E20338;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.25s ease-in;
  }
  .navbar-login a:hover:before{
    top: 0;
  }
  .navbar-register a:hover{
    color: #E20338;
}
.navbar-register a:before{
content: "";
position: absolute;
background-color:#2D1457 ;
bottom: 0;
left: 0;
right: 0;
top: 100%;
z-index: -1;
-webkit-transition: top 0.25s ease-out;
}
.navbar-register a:hover:before{
top: 0;
}


  
  